@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
@main-color: #39DEE2;

body {
	font-family: 'cwTeXHei', sans-serif;
	margin: 0 auto;
	margin-top: 60px;
}


/*navbar*/

.icon-bar{
    background: black;
}
.nav > li > a{
    color: dimgray;
}
.nav{
    margin-bottom: 6.5px;
}
.navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px #999999;
	
}

.btn-blue{
    background: @main-color;
}

.glyphicon-search:before{
	color: #ffffff;
}
.navbar-header{
    margin-top: 12px;
}

/*about*/

.about-content{
    h1{
        font-size: 1.8vw;
        line-height: 1.5em;
        position: absolute;
        top:27%;
        left:30%;
        display:inline-block;
    }

}
.category{
    padding-left: 20%;
    padding-right: 20%;
}
.card-active{
    display: table;
    position: relative;
    text-align: center;
    top:-80px;
    margin: 0;
    height: 220px;
    width: 220px;
    background: @main-color;
    font-size:1.1em;
    color:white;
}
.card1{
    display: table-cell;
    vertical-align: middle;
}

.row{
}




