body {
	
	margin: 0 auto;
	margin-top: 60px;
}


/*navbar*/

.nav > li > a{
    color: dimgray;
}
.navbar{
    width: 100%;
    margin: 0;
    padding: 0;
	  background-color: #ffffff;
	  box-shadow: 0px 1px 3px #999999;
	
}

.btn-blue{
    background: #39DEE2;
}

.glyphicon-search:before{
	color: #ffffff;
}
.navbar-header{
    margin-top: 12px;
}


/*content*/
h3{
	font-weight:bold;
}
h5{
	line-height: 28px;
	color: #555555;
}
p{
	color: #999999;
	line-height: 28px;
}
.header_img{
	position: relative;
	top: -80px;
	width: 100%;
	overflow: hidden;
}
.news{
	position: relative;
	top: -220px;
	margin: 0 80px;
	z-index: 1000;
}
.news_content{
	margin-bottom: 20px;
}
.page-header{
	height: 100px;
	color: #ffffff;
	border: none;
}
.page-header > small{
	padding-left: 80px;
	color: #dddddd;
}
.container{
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}
.others{
	background-color: #34373A;
	height: 536px;
	position: relative;
	top: -600px;

}


