@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
@main-color: #39DEE2;


body {
	font-family: 'cwTeXHei', sans-serif;
	margin: 0 auto;
	margin-top: 60px;
}
/*navbar*/

.icon-bar{
    background: black;
}
.nav > li > a{
    color: dimgray;
	&:hover{
		color:@main-color;
	}
}
.nav{
    margin-bottom: 6.5px;
}
.navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px #999999;
	
}

.btn-blue{
    background: @main-color;
}

.glyphicon-search:before{
	color: #ffffff;
}
.navbar-header{
    margin-top: 12px;
}

/*content*/

.header{


}
.header-content{
	z-index: 1;
	padding-left: 15%;
	padding-right: 15%;
	position: relative;
	top:-120px;
	height: 0px;
	h1{
		color: white;
		small{
			margin-left: 100px;
			color:#ddd;
		}
	}
}
.first-content{
	padding-left: 15%;
	padding-right: 15%;
	h5{
		line-height: 28px;
		color: #555555;
		font-size: 1.3em;
	}
	p{
		color: #999999;
		line-height: 35px;
		font-size: 1.4em;
	}
	h2{
		font-weight: bold;
		font-size: 2em;
	}
}

.other-content{
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 35px;
	padding-bottom: 100px;
	background: #34373A;
	padding-top: 30px;
	h2{
		color:white;
		margin: 0;
		padding: 0;
		font-weight: 500;
	}
	h4{
		margin: 0;
		padding: 0;
		font-weight: 500;
	}
	h5{
		margin-top: 17px;
	}
	p{
		line-height: 30px;
		color: #999999;
	}
}
.col-md-4{
	margin: 0;
	padding: 0;

}
.content{
	margin-top: 40px;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	background: white;
	height: 240px;
	width: 350px;
		&:hover{
		border-width: 3px;
		border-color: @main-color;
		border-style: solid;
	}
}




.container{
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
}






