
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*風格*/
body {
	font-size: 16px;
	font-family: 微軟正黑體;
}

a {
	color: black;
	text-decoration: none;
}


/*排版-header*/
.header {
  background: white;
  height: 64px;
  border: solid red 5 px;
  box-shadow:10px 0px 3px rgba(20%,20%,40%,0.5);
}

.logo {
	float: left;
}

.menu {
  float: right;
}

.menu li {
  display: inline-block;
}

.searchbar {
  float: right 
}     

/*排版-大圖*/

.big-pic img{
    height: 620px;
    width: 1280px;
    margin:0px auto;
}
/*不知道怎把字壓到圖上*/
.big-pic span {
  
}


/*排版-補助類型*/
.category {
  height: 550px;
  background: #34373a;
} 

.cate-box {
  margin:0px auto;    
  position: relative;
  margin-top: -90px;
  width: 952px;
  height: 500px;
}

.cate {
  background: white;
  height: 230px;
  width: 220px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.cate:nth-child(4n) {
	margin-right: 0px;
}

.cate img {
    height: 75px;
    width: 75px;
    margin-top: 55px;
    margin-right: 72.5px;
    margin-left: 72.5px;
}

.cate a {
    font-size: 16px; 
    margin-top: 200px;
}

/*排版-新聞與熱門*/
.news-hot {
  margin:0px auto;    
  height: 420px;
  background: #39dee2;
  padding-top: 60px;
  padding-bottom: 60px; 
  overflow: hidden;
}

.news-hot-box {
  margin:0px auto;
  height: 300px;
  width: 940px;  
}

.news {
  height: 300px;
  width: 460px;
  background: white;
  display: inline-block;
  margin-right: 15px;/*為何20px會爆掉？？？*/
}

.hot {
  display: inline-block;
}

.hot-content {
  width: 460px;
  position: relative;
  text-align: center;
  margin-bottom: -210px;
  font-size: 16px;  
  color: #ffffff;
}

.hot-content h2 {
    font-size: 21px;
    font-weight: bold;
    color: #39dee2;
    line-height: 200%;
}

.hot img {
  height: 300px;
  width: 460px;  
}

.more {
  margin:0px auto;    
  margin-top: 50px;
  height: 30px;
  width: 140px;
  font-size: 14px;
    
}


.call1957 {
  height: 420px;
  background: white;
  overflow: hidden;
}

.call1957 img {
  height: 420px;
  width: 1280px;   
}

.call-content {
  position: relative;
  float: right;
  background: yellow;
}

.footer  {
  color: white; 
  height: 100px;
  background: #34373a;
}




